<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bishe.networkmonitor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".EditNewMsgActivity"
            android:exported="false"
            android:label="@string/title_activity_edit_new_msg"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AppListMainActivity"
            android:label="@string/title_activity_app_list_main"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AppConnDetailActivity"
            android:label="@string/title_activity_app_conn_detail"
            android:parentActivityName=".AppListMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MsgActivity"
            android:label="@string/title_activity_msg"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MsgDetailActivity"
            android:parentActivityName=".MsgActivity"
            android:label="@string/title_activity_msg_detail"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>